{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}

<div class = "register">
<br></br>
<br></br>
<br></br>

<div class="card mx-auto" style="width: 50rem; background-color: #FFD24C;">
    <div class="card-body mx-auto">
      <h1 class="card-title" style="color: #453506"><strong>Formulir Registrasi</strong></h1>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %} 
            <div class="div d-flex justify-content-center">    
                <table style="color: #453506;">  
                    {{ form.as_table }}  
                </table>  
            </div>
            <tr>
                <div class="div d-flex justify-content-center mt-4">
                    <td><input type="submit" style= "background-color: #FFE69A; border-color: #453506; width: 100px;" name="submit" value="Register"/></td>  
                </div>  
            </tr>  
        </form>
    </div>

    {% if messages %}
    <div class="card-text mx-auto">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
</div>

{% endblock content %}  